.App {
  font-family: sans-serif;
  text-align: center;
}

.operation {
  background-color: orange;
}

.btn {
  color: white;
}

.main {
  background-color: grey;
}

.screen {
  text-align: right;
  font-size: x-large;
  padding-right: 20px;
  color: white;
  background-color: #525252;
  height: 40px;
}
